/* Classes da página index.html*/
/* Parâmetros do semáforo*/

.mensagem {
    display: flex;
    align-items: center; /* alinha verticalmente */
    justify-content: space-around; /* espaço entre o semáforo e a seção de entrada de dados */
    margin-top: -85px;
    position: relative;
    z-index: 2;
}

.letreiro {
    display: flex;
    align-items: center; /* alinha verticalmente */
    justify-content: space-around; /* espaço entre o semáforo e a seção de entrada de dados */
    margin-top: -15px;
    position: relative;
    z-index: 2;
    border-top: 1px solid black; /* adiciona linha acima */
    border-bottom: 1px solid black; /* adiciona linha abaixo */
    min-height: 50px; /* define uma altura mínima */
}



.container {
    display: flex;
    align-items: center; /* alinha verticalmente */
    justify-content: space-around; /* espaço entre o semáforo e a seção de entrada de dados */
    margin-top: -20px;
    position: relative;
    z-index: 1;
}

#semaforo {
    width: 150px; /* ajuste conforme necessário */
    height: 50px; /* ajuste conforme necessário */
    flex-direction: row; /* faz as "lâmpadas" aparecerem na horizontal ou column*/
    background-color: #333;
    border-radius: 10px;
    display: flex; /* garante que as "lâmpadas" sejam dispostas em uma linha */
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }
  
  .luz {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #111;
    margin: 0 5px; /* adiciona uma margem horizontal de 5px */
  }
  
  #vermelho.off { background-color: #300; }
  #amarelo.off { background-color: #330; }
  #verde.off { background-color: #030; }
  
  #vermelho.on { background-color: #f00; }
  #amarelo.on { background-color: #ff0; }
  #verde.on { background-color: #0f0; }

 /*Fim dos dados do semáforo*/ 

.hidden {
    display: none;
  }

body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(225, 222, 199);
}

header {
    background-color: rgb(225, 222, 199);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    width: 100%;
    background-color: rgb(35, 32, 24);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.banner {
    height: 480px;
    overflow: hidden;
}

.banner img {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 80%;
    margin-bottom: 100px;
}

.newItem {
    background-color: rgb(225, 222, 199);
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#newInput {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 30%;
    padding: 10px;
    font-size: 17px;
}

#newQuantity {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 30%;
    padding: 10px;
    font-size: 17px;
}

#newPrice {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 10%;
    padding: 10px;
    font-size: 17px;
}

#newTipo {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 10%;
    padding: 10px;
    font-size: 13px;
}

#newLink {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 20%;
    padding: 10px;
    font-size: 13px;
}

.addBtn {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    margin: 10px; /* adiciona uma margem de 10 pixels ao redor do botão */
}

.addBtn:hover {
    background-color: yellow;
    color: black;
}

